#btnMenCrm{
    background-color:#DDDDDD;
    color: black;
    border-radius: 8px;
    border: 0px;
    width: 100px;
    height: 40px;
    font-size: 12px;
}

#btnMenCrm:hover{
    background-color:#CCCCCC;
    box-shadow:3px 2px -10px 1px #D8D8D8;
}

#btnMenCrm:active{
    box-shadow:3px 2px 10px 1px #CCCCCC;
}