.btnNavLat{
    display: flex;
    justify-content: center;
    align-items: center;
    background:none;
    color:white;
    border:0;
    border-radius: 8px;
    height: 50px;
    width: 274px;
    font-size: 20px;
}

.btnNavLat > *{
    padding: 8px;
}

.btnNavLat:hover{
    cursor:pointer;
    background-color: #7292e7;
    box-shadow: 10px 8px 15px 2px  #6a87d6;
}

.btnNavLat-active{
    background-color: #6c88d6;
    box-shadow: 10px 8px 15px 2px  #627cc4;
}

.containerIcon{
    padding-right: 18px;
    width: 3vmin;
}

.containerText{
    background-color: none;
    text-align: left;
    width: 120px;
}