.mainContent{
    background-color: #C4C7FF;
    position: relative;
    top: 10vh; left: 7vw;
    width: 90vw;
    height: 82vh;
    margin-right: 5px;
    padding: 10px;
    align-items: center;
    justify-content: center;
}

.mainContent > * {
    align-items: center;
    justify-content: center;
}

.containerCrm{
    width: 87vw;
    height: 80vh;
    margin: 10px;
}

.gridCrm > *{
    margin-top: 15px;
}

.containerTable{
    width: 87vw;
    height: 77vh;
}