.containerCrm{
    display: flex;
}

.containerLeft{
    background-color: #6e8ad6;
    display:block;
    justify-content: center;
    align-items: center;
}

.containerRight{
    background-color: #EDEDED;
    align-items: center;
    justify-content: center;
    padding: 16px;
}


.dashboard{
    justify-content: center;
    align-items: center;
    padding-top: 15px;
}

.dashboard > *{
    justify-content: center;
    align-items: center;
}

.containerDashboard{
    display:flex;
}

.tittleDasboard{
    text-align: center;
    font-weight: bold;
    font-size: 25px;
}

.menuCrm{
    display: flex;;
    justify-content: flex-end;
    padding: 20px;
}

.navLat{
    background-color: #7896EA;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.haveNiceDay{
    width: 470px;
}