.logoError{
  justify-content: center;
}

.container404 > * {
  text-align: center;
}
  
.error404{
  max-width: 98vh;
}
  
#btnHome{
  display: inline-block;
  position: absolute;
        left: 85vh;
        top: 725px;
  width: 35vh;
  background:#838BC5;
  border: 1px solid white;
  border-radius: 40px;
  box-shadow:3px 2px 10px 1px #838BC5;
}

#btnHome:hover{
  cursor:pointer;
  font-style:italic;
  box-shadow:3px 2px 10px 1px  #b684ec;
}

#btnHome:active{
  box-shadow:3px 2px 15px 1px #9653dd;
}