.container404{
  width: 1915px;
  min-width: 50px;
  height: 920px;
  display:flex;
  align-items: center;
  justify-content: center;
}

.container404 > * {
  text-align: center;
}

.logoError{
  width: 220px;
  margin:15px;
  position: absolute;
  left: 5vh; top: 2vh;
}


.containerError{
  display:block;
  align-items: center;
  justify-content: center;
  margin: 10px;
  width: 1000px;
}

#btnHome{
  display: block;
  position: relative;
        left: 20vw;
        top: -10vh;
  width: 200px;
  background:#838BC5;
  border: 1px solid white;
  border-radius: 40px;
  box-shadow:3px 2px 10px 1px #838BC5;
}

#btnHome:hover{
  cursor:pointer;
  font-style:italic;
  box-shadow:3px 2px 10px 1px  #b684ec;
}

#btnHome:active{
  box-shadow:3px 2px 15px 1px #9653dd;
}