.containerGroupIcons{
    display:flex;
}

.iconDelete, .iconEye, .iconPencil{
    height: 3vmin;
    padding: 5px;
}

#btnEye, #btnPencil, #btnDelete{
    background:none;
    border:0;
    border-radius: 8px;
}

#btnEye:hover, #btnPencil:hover, #btnDelete:hover{
    cursor:pointer;
    font-style:italic;
    box-shadow:3px 2px 10px 1px  #af67fb;
}

#btnEye:active, #btnPencil:active, #btnDelete:active{
    box-shadow:3px 2px 15px 1px #af67fb;
}