.iconDelete{
    min-width: 2.1vh;
    padding: 2px;
}

.iconPencil{
    min-width: 2.3vh;
    padding: 2px;
}


.iconEye{
    min-width: 2.7vh;
    padding: 1px;
}

.containerGroupIcons{
    display: flex;
    width: 120px;
    background: none;
}


#btnView, #btnEdit, #btnDelete{
    border:0;
    background: none;
}

.iconButton{
    height: 50px;
    width: 50px;
    align-items: center;
    justify-content: center;
}