.iconMenuTri{
    width: 3vmin;
}

#btnMenuTri{
    background:none;
    border:0;
    border-radius: 8px;
    height: 45px;
}

#btnMenuTri:hover{
    cursor:pointer;
    font-style:italic;
    box-shadow:3px 2px 10px 1px #6582c4;
}

#btnMenuTri:active{
    box-shadow:3px 2px 15px 1px #5a75b4;
}