.iconMenuLine{
    height: 8vmin;
}

#btnMenuLines{
    display: flex;
    justify-content: center;
    align-items: center;
    background:none;
    border:0;
    border-radius: 8px;
    height: 45px;
}

#btnMenuLines:hover{
    cursor:pointer;
    font-style:italic;
    box-shadow:3px 2px 10px 1px #6582c4;
}

#btnMenuLines:active{
    box-shadow:3px 2px 15px 1px #5a75b4;
}