.containerUser{
    display:flex;
    align-items: center;
    justify-content: center;
}

.containerUser > *{
    padding: 6px;
    justify-content: center;
    align-items: center; 
}

.iconPhoto{
    width: 8vmin;
}

.txtIdUser{
    font-size: 15px;
    color:white;
    font-weight: bold;
}