.containerNav{
    display: flex;
    justify-content: space-between;
    background-color: #49A2C1;
    height: 8vmin;
    padding: 5px;
    padding: 8px;
}

.iconMenuLines{
    width: 20vmin;
}

.containerIconMenuLines, .containerIDUser{
    display:flex;
    justify-content: center;
    align-items: center;
}