.containerMenu{
    display: flex;
    justify-content: center;
    align-items: center;
}

.navLateral{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:15px;
    min-width: 80px;
    min-height: 90px;
}

.navLateral > *{
    justify-content: center;
    align-items: center;
}