.containerNavMenuCrm{
    background-color: #DDDDDD;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 45px;
}

.containerNavMenuCrm > *{
    justify-content: center;
    align-items: center;
}