.price {
	background-color: #ffffbf;
	text-align: center;
	padding: 5px;
	margin:0;

}

.price-info{

	align-items: center;
	display: flex;
	flex-direction: row;
	justify-content: center;

}

.price-img {
	width: 250px;
	height: 250px;
}
.price-des {
	
	width: 30%;
	height: auto;
	padding: 20px;
	background:#F5B041 ;
	margin: 10px;
}

p{
	text-align: justify;
}