.service {
	background-color: #ffffbf;
	text-align: center;
	padding: 5px;
	margin:0;
}

.ser-button {
	width: 100px;
	border-radius: 10px;
	padding: 10px;
	margin: 5px;
	background-color: green;
}

.ser-info{
	align-items: center;
	display: flex;
	flex-direction: row;
	justify-content: center;
}


.ser-img {
	width: 350px;
	height: 350px;
	margin: 20px;
	border-radius: 10px;
}
.ser-des {
	background-color: gray;
	width: 50%;
	height: auto;
	padding: 15px;
}